body {
    background-color: lightgrey !important;
    display: flex;
    flex-direction: column;
}

html,
body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

/* Style the header */
header {
    background-color: #333;
    color: white;
    position: fixed; /* Attach the navbar to the top */
    top: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1000; /* Ensure it stays above other content */
}

h1,
h3,
p,
ul {
    margin-left: 25px;
}

h1,
h3,
li,
p,
footer {
    font-family: Helvetica, sans-serif;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.flat {
    background-color: #4c4b52;
    font-size: 15px;
    border-radius: 30px;
}

.flat:hover {
    background-color: #4c4b52;
    transition:
        background-color 0.15s,
        font-size 0.15s;
    font-size: 22px;
}

.flat:active {
    border-color: #5d91c3;
}

/* Remove default list styling */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Display links horizontally */
    justify-content: center; /* Center the links */
}

/* Style the list items */
nav ul li {
    margin: 0 15px; /* Space between links */
}

/* Style the anchor tags */
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

/* Add hover effect */
nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
    color: grey;
}

.content {
    margin-top: 100px;
    flex: 1;
}
